{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        <p>The Official site Discord bot Akimo 🍥</p>
        <button class="btn btn-warning"> На страницу про нас</button>

        {% for el in values %}
            {% if el == '#Akimo' %}
                {% filter lower %}
                    <p>{{ el }}</p>
                {% endfilter %}
            {% endif %}
        {% endfor %}

        {% for el in obj %}
            <p>{{ el }}</p>
        {% endfor %}
    </div>
{% endblock %}